$red: #e8454a;
$blue: #029bff;
$yellow: #fff013;
$black: #282828;
$white: #fff;
$gray: #9b9b9b;
$lightGray: #dcdcdc;
$veryLightGray: #cacaca;
$imgUrl: '/static/images/';

%btnWhite {
  border: 1px solid $veryLightGray;
  padding: 8px 10px 9px;
  border-radius: 3.4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 16.8px;
  font-weight: 500;
  color: $gray;
  cursor: pointer;
}

%btnBlue {
  border: 1px solid $blue;
  padding:8px 10px 8.5px;
  border-radius: 3.4px;
  box-sizing: border-box;
  background-color: $blue;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  line-height: 16.8px;
  cursor: pointer;
}

.team__form {
  width: 100%;

  .form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form__section {
    position: relative;
    display: inline-block;
    max-width: 50%;
    min-width: 354px;
    margin: 28px 29.5px 0 0;
    vertical-align: top;

    &:last-child {
      max-width: 260px;
      min-width: 260px;
      margin-right: 59px;
    }
  }

  .field {
    width: 100%;
    margin-bottom: 6px;

    &-column {
      @extend .field;
      display: inline-block;
      width: 50%;
      max-width: 170px;
      vertical-align: top;
    }
  }

  .field__title {
    display: block;
    margin-bottom: 5px;

    .title {
      font-size: 12px;
      color: $black;
      font-weight: 500;
    }
  }

  .box-input__text {
    max-width: 317px;

    &--error {
      @extend .box-input__text;

      &--active {
        @extend .box-input__text;
      }
    }

    &--active {
      @extend .box-input__text;
    }
  }

  .form__btn-wrapper {
    margin-top: 14px;
  }

  .section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .title__text {
      font-size: 12px;
      font-weight: 500;
      color: $black;
    }
  }

  .section__team-list {
    width: 100%;

    .list-team {
      width: 100%;
      border-top: 2px solid $veryLightGray;

      .box-member {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 56px;
        padding: 11px 17px;
        border-bottom: 2px solid $veryLightGray;
        box-sizing: border-box;
        font-size: 12px;
        color: $black;

        .member__profile {
          display: inline-block;
          width: 32px;
          height: 32px;
          vertical-align: top;

          .box-img {
            position: relative;
            z-index: 10;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid $lightGray;
            box-sizing: border-box;
            overflow: hidden;

            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 15;
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 100%;
              margin: auto;
            }
          }
        }

        .member__info {
          position: relative;
          z-index: 5;
          display: inline-block;
          width: calc(100% - 32px);
          height: 100%;
          padding-left: 16px;
          box-sizing: border-box;

          .info__name {
            display: block;
            width: 100%;
            height: 16px;
            font-size: 12px;
            color: $black;
            line-height: 1;

            .name {
              display: inline-block;
              max-width: calc(100% - 20px);
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }

          .info__email {
            position: absolute;
            top: 16px;
            left: 16px;
            z-index: 10;
            display: inline-block;
            max-width: 100%;
            height: 16px;
            font-size: 12px;
            color: $gray;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              top: 12px;
              left: 12px;
              width: auto;
              max-width: unset;
              height: 20px;
              padding: 4px;
              border-radius: 3.4px;
              line-height: .9;
              box-sizing: border-box;
              border: 1px solid $veryLightGray;
              text-overflow: unset;
              background: $white;
            }
          }

          .badge {
            display: inline-block;
            width: 12px;
            height: 11px;
            background: transparent url('#{$imgUrl}common/icons/icon_team_leader.svg') no-repeat center center;
            vertical-align: top;
            margin-left: 5px;
            text-indent: -9999px;
            font-size: 0;
            color: transparent;
            vertical-align: text-top;
          }
        }

        .btn-menu {
          position: absolute;
          top: 7px;
          right: 8px;
          z-index: 20;
          width: 5px;
          height: 18px;
          padding: 0;
          text-indent: -9999px;
          color: transparent;
          font-size: 0;
          background: transparent url('#{$imgUrl}common/icons/btn_team_menu.svg') no-repeat center top;
        }

        .menu-list {
          position: absolute;
          top: 8px;
          right: 19px;
          z-index: 25;
          height: 0;
          visibility: hidden;
          opacity: 0;
          overflow: hidden;

          .list__item {
            width: 100%;
            height: 40px;
            
            button {
              display: block;
              width: 100%;
              height: 100%;
              padding: 9px;
              font-size: 14px;
              line-height: 1.53;
              color: $black;
              box-sizing: border-box;
              background: $white;
            }
          }

          &--extended {
            @extend .menu-list;
            width: 93px;
            height: 40px;
            border-radius: 3.4px;
            border: 1px solid $veryLightGray;
            box-sizing: border-box;
            background: $white;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .section__team-invite {
    position: absolute;
    top: 28px;
    right: 0;
    z-index: -1;
    width: 340px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    &--active {
      @extend .section__team-invite;
      z-index: 30;
      width: 340px;
      height: auto;
      min-height: 390px;
      padding: 30px 59px 47px 51px;
      border-radius: 3.4px;
      border: 1px solid $veryLightGray;
      background-color: $white;
      box-sizing: border-box;
      visibility: visible;
      opacity: 1;
    }

    .invite__title {
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      color: $black;
    }

    .invite__inputbox {
      margin-top: 27px;
      width: 100%;
    }

    .invite__linkbox {
      margin-top: 42px;
      wdith: 100%;
    }

    .box-input {
      width: 100%;
    }

    .box__title {
      display: block;
      margin-bottom: 3px;
      line-height: 15px;

      .title {
        font-size: 12px;
        font-weight: 500;
        color: $black;
      }
    }

    .list-input {
      max-height: 150px;
      overflow-x: hidden;
      overflow-y: auto;

      .list__item {
        position: relative;

        .item-num {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          width: 17px;
          height: 29px;
          font-size: 10px;
          color: #4a4a4a;
          box-sizing: border-box;
          line-height: 3;
        }

        .box-input__text {
          input[type="text"] {
            padding-left: 17px;
          }
        }
      }
    }

    .btn-add {
      @extend %btnWhite;
      font-size: 14px;
      color: $blue;
      border-color: $blue;
      margin-right: 9px;
    }

    .btn-invite--submit,
    .btn-copy {
      @extend %btnBlue;
      font-size: 14px;
    }
  }

  .btn-cancle {
    @extend %btnWhite;
    min-width: 66px;
    height: 34px;
    margin-right: 8px;
  }

  .btn-submit {
    min-width: 136px;
    height: 34px;
    border: 1px solid $veryLightGray;
    border-radius: 3.4px;
    color: $white;
    font-size: 16px;
    background: $veryLightGray;

    &--active {
      @extend .btn-submit;
      border-color: $blue;
      background: $blue;
    }
  }
  
  .btn-invite {
    min-width: 82px;
    height: 24px;
    border-radius: 12px;
    background: $blue;
    font-size: 14px;
    color: $white;
    font-weight: 500;
    line-height: 1;
    box-sizing: border-box;
    border: 0;
  }
}